<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title> CONTACTOS</title>
  </head>
  <body>
    

    <h1>BIENVENIDOS A CONTACTOS</h1>

    <BR>

      <a href="/">Inicio</a>
<a href="/acerca">Acerca</a>
<a href="/CONTACTO">Contacto</a>
<br>
<br>

<p>
  Explicacion corta de un flujo completo, por ejemplo: /contacto -> contacto() -> render_template("contacto.html") -> navegador:

</p>
  <br>
  <p>
  Cuando alguien entra a /contacto, el servidor activa la función contacto(). 
  
  Ahí dentro modifico el archivo y devuelvo el archivo contacto.html. 

  Al final, el servidor le manda ese código al navegador para que la persona vea la página en su pantalla
  </p>





    </body>
    </html>