<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CONTACTO</title>
</head>
<body>
    <h1> CONTACTO </h1>


 <a href="/">Inicio</a>
<a href="/acerca">Acerca</a>
<a href="/recursos">Recursos</a>

<br>

<p>Explicacion corta de un flujo completo, por ejemplo:
   `/contacto -> contacto() -> render_template("contacto.html") -> navegador`.</p>

<p>Cuando el usuario entra a /contacto, la aplicación llama a la función contacto().
Esa función carga la página contacto.html usando render_template().
Después, el servidor envía esa página al navegador y el usuario la puede ver.</p>
</body>
</html>