<html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    
    <title>CONTACTO</title>
  </head>
  <body>
    

    

<a href="/">Inicio</a>
<a href="/acerca">Acerca</a>
<a href="/contacto">Contacto</a>
<a href="/recursos">Recursos</a>

    <h1>Esta es la pagina de contacto</h1>

    <p>primero el usuario entra en una URL.luego flask busca la ruta en app.py y despues ejecuta una funcion en python
      y esa funcion carga un archivo html usando render_template y luego el navegador muestra la pagina

    </p>

  </body>
</html>