<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>RIVERA 1114</title>
</head>
<body>
    <H1>Acerca De Ti</H1>

    <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dicta nobis, harum necessitatibus, id accusantium culpa architecto incidunt quas ullam ducimus dolor repudiandae? Quod, nostrum consequatur? Laudantium officia nostrum cumque impedit.</h4>

    <br></br>

<a href="/index">Inicio  Andres Steven Rivera Rivera.</a>
<a href="/contacto">Contacto  Andres Steven Rivera Rivera.</a>
<a href="/recursos">Recursos  Andres Steven Rivera Rivera.</a>


</body>
</html>