<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOLA</title>
  </head>
  <body>
    

    <h1>HOLAA, SOY ALEXANDER CANO</h1>

    <p><h2>## Preguntas de reflexión técnica</h2>

    <br>## 1.¿Qué cambia en la plantilla cuando los datos llegan desde `app.py` en lugar de estar escritos directamente en el HTML?
    <br>El HTML se vuelve dinámico, sustituyendo los textos fijos por marcadores de posición que el servidor rellena automáticamente con los datos reales antes de enviar la página al navegador.
    </p>

    <p>## 2.¿Qué ventaja tiene separar la lógica en Python de la presentación en la plantilla?
    <br>Permite modificar el diseño visual sin alterar el código de Python y actualizar las bases de datos o algoritmos sin romper la página web.
    </p>

    <p>## 3.¿Qué pasa si una variable no se envía desde `render_template`, pero se intenta mostrar en `index.html`?
    <br>La página se carga con normalidad sin lanzar errores, pero el espacio de la variable queda completamente en blanco.
    </p>

  </body>

  </html>
  
